@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 1.2rem;
}

/* style class */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}
.j-center {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}
.g3 {
    gap: 3rem;
}

.py1 {
    padding: 1rem 0;
}
.py2 {
    padding: 2rem 0;
}
.py3 {
    padding: 3rem 0;
}

.my3 {
    margin: 3rem 0;
}

.t-center {
    text-align: center;
}

.t-blue {
    color: rgb(45, 86, 199);
}
.t-red {
    color: rgb(170, 42, 42);
}

.bg-blue {
    background: rgb(45, 86, 199);
    color: white;
}

.t-upper {
    font-size: 3rem;
}
.t-big {
    font-size: 1.6rem;
}
.t-small {
    font-size: .9rem;
}

.t-italic {
    font-style: italic;
}

.t-bold {
    font-weight: 600;
}

.container {
    max-width: 1440px;
    margin:  0 auto;
}

h2 {
    font-size: 2rem ;
}

hr {
   border: 1px solid black;
}

/* header */
.header {
    height: 80px;
    line-height: 80px;
}

.header .logo img {
    width: 50%;
    padding-top: 1rem;
}

.header a:hover {
    color: rgb(45, 86, 199);
}

.search {
    border: 0;
    height: 30px;
    position: relative;
}

.search input {
    width: 200px;
    height: 30px;
    border: 0;
    color: white;
    border: 1px solid gray;
    opacity: 70%;
    text-indent: 5%;
}

.search button {
    border: 0;
    background: none;
    font-size: 1rem;
    position: absolute;
    right: -12%;
    top: 115%;
}

/* nav */

.nav {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid black;
}

.nav li:hover a {
    border-bottom: 3px solid rgb(45, 86, 199);;
}

/* carousel */
.carousel img {
    height: 300px;
    /* background: url("../images/bg1.jpg") no-repeat center / cover; */
}

/* footer */
footer {
    background:  #3c3c3c;
    color: white;
    position: relative;
}

.footer {
    height: 120px;
    font-size: .8rem;
}

.footer .texts {
    padding-top: 1.5rem;
}

.footer .sns {
    padding-top: 1rem;
}

#up {
    height: 20px;
    font-size: 1rem;
    color: black;
    position: absolute;
    top: -40%;
    left: 49%;
}

#up:hover a {
    border-bottom: 1px solid black;
}

#up i {
    display: block;
}

.sns {
    font-size: 2rem;
}

.copy {
    margin-top: .5rem;
    font-size: .8rem;
    font-style: italic;
}


/*---media query-------*/
@media all and (max-width: 500px) {
    /* * */
    body {
        font-size: 16px;
    }

    /* carousel */
    .carousel {
        display: none;
    }

    /* header */
    header {
        border-bottom: 1px solid black;
        position: relative;
    }
    
    header .logo {
        padding-left: 1rem;
        width: 20%;
    }

    header .search {
        position: absolute;
        top: 105%;
        right: 9%;
    }
    
    header .search input {
        width: 400px;
        height: 50px;
        border-radius: 30px;
        text-indent: 3%;
    }
    
    header .search button {
        right: 5%;
        color: black;
    }
    
    header .nav {
        display: none;
    }

    header .nav {
        background: white;
        width: 180px;
        height: 250px;
        border: 1px solid black;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
    }
    
    header .nav #gnb {
        display: inline-block;
        padding-left: 1rem;
        position: relative;
    }

    header .close {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid black;
        background: none;
        color: rgb(112, 112, 112);
        font-size: .7rem;
    }

    header .login a:nth-child(3) {
        display: block;
        padding-right: 1rem;
    }
    
    /* footer */
    footer {
        position: relative;
    }
    
    footer #up {
        display: none;
    }

    footer #f-up {
        display: block;
        position: absolute;
        top: -15%;
        left: 48%;
        color: black;
    }

    footer .f-kind {
        display: block;
        justify-content: left;
        padding: .5rem .5rem;
        font-weight: bold;
        color: rgb(241, 241, 241);
    }

    .footer .texts {
        font-size: .8rem;
        padding: 1rem .5rem;
    }

    .footer .sns {
        display: none;
    }

    footer .f-sns {
        display: block;
        justify-content: left;
        padding: .5rem .5rem;
        font-size: 1.3rem;
        gap: .5rem;
    }


}
/* 425px--------------------------------------------------------- */
@media all and (max-width: 425px) {
    /* * */
    body {
        font-size: 15px;
    }
    
    header .search input {
        width: 350px;
    }
    
    header .search button {
        right: 5%;
        top: 110%;
    }
    
    .footer .texts {
        font-size: .7rem;
    }
    
    footer .f-sns {
        font-size: 1.2rem;
    }

}
