/* popup */
.body {
    position: relative;
}

.popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    height: 2374px;
    z-index: 999;
}

.popup-info {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 1000px;
    height: 750px;
    background: white;
    text-align: center;
    position: fixed;
    padding: 1rem;
}

.popup-info h2 {
    margin-bottom: 2rem;
}

.popup-info p {
    margin-bottom: 1.5rem;
}

.popup img {
    width: 90%;
    height: 550px;
}

.popup img:hover {
    opacity: 30%;
}

.popup li {
    position: relative;
}

.popup .see {
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
}

.popup li:hover .see {
    display: block;
    font-size: 3rem;
}

.p-close {
    position: absolute;
    top: 2%;
    right: 2%;
    border: 0;
    background: black;
    color: white;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
}

.p-close-tod {
    position: absolute;
    top: 2%;
    left: 2%;
    border: 0;
    background: black;
    color: white;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
}

.p-close-tod:hover,
.p-close:hover {
    font-size: 1.1rem;
}

/* new */

#new {
    height: 650px;
    position: relative;
}

#new .plus {
    border: 0;
    background: none;
    font-size: 1.5rem;
    position: absolute;
    top: 26%;
    right: 11%;
}

#new li {
    position: relative;
}

#new .n1 {
    width: 350px;
}

#new li:hover img {
    opacity: 30%;
}

#new li .fa-basket-shopping {
    display: none;
    position: absolute;
    right: 43%;
    top: 38%;
    font-size: 2rem;
    color: rgb(45, 86, 199);
}

#new li:hover .fa-basket-shopping {
    display: flex;
}



#new .plus:hover {
    color: rgb(45, 86, 199);
}

#new img {
    border-radius: 20px;
}

#new .cost {
    text-decoration: line-through;
    padding: 0;
}


/* find */
#find h2 {
    margin: 2rem 4rem;
}

#find h2:hover i {
    padding-left: 4rem;
}

#find h2 i {
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

#find .f-tag {
    margin: 2rem 4rem;
}

#find .f-tag li {
    font-weight: 800;
}

#f-body li {
    width: 270px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

#f-body .f1 {
    width: 90%;
}

#f-body .f3 {
    width: 95%;
}

#f-body .f-c {
    position: relative;
}

#f-body img {
    margin-top: 1rem;
    border-radius: 20px;
}

#f-body li .fa-basket-shopping  {
    display: none;
    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 1.5rem;
    color: rgb(45, 86, 199);
}

#f-body .f-c .fa-basket-shopping  {
    display: none;
    position: absolute;
    top: 43%;
    left: 46%;
    font-size: 2.5rem;
    color: rgb(45, 86, 199);
}

#f-body li:hover img {
    opacity: 30%;
}

#f-body li:hover .fa-basket-shopping  {
    display: block;
}

#f-body .f-c:hover .fa-basket-shopping  {
    display: block;
}

.f-c {
    margin: 0 5px;
    border-radius: 20px;
    text-align: center;
}

.f-c:hover img {
    opacity: 30%;
}

#find .cost {
    text-decoration: line-through;
    padding: 0;
}

.f-l  p {
    text-align: left;
    padding-left: 1rem;
}

#f-body li:nth-child(1) {
    margin-bottom: 20px
}

.f-r {
    background: rgb(45, 86, 199);
    border-radius: 20px;
    width: 730px;
    height: 500px;
}


/* popular */

#popular {
    margin-top: 3rem;
    height: 200px;
}

#popular ul {
    width: 370px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    background: rgb(236, 236, 236);
}

#popular ul:hover {
    background: rgb(45, 86, 199);
    color: white;
}

#popular ul:hover span {
    color: #ff3737;
}

#popular li {
    padding: 3rem 3rem;
}

#popular p {
    position: absolute;
    right: 15%;
    top: 30%;
    font-size: 50px;
    color: rgb(235, 207, 53);
}

/*---media query-------*/
/* 500px---------------------------------------------------------- */
@media all and (max-width: 500px) {
    /* popup */
    .popup-info {
        width: 50%;
        height: 20%;
        top: 25%;
        left: 25%;
    }

    .popup-info h2 {
        font-size: 1rem;
        margin-top: 1.6rem;
        margin-bottom: 1rem;
    }
    
    .popup-info p {
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .popup-info img {
        display: none;
    }

    .popup-info .p-close, .p-close-tod {
        font-size: .6rem;
    }
    
    
    /* new */
    #new {
        height: 800px;
        text-align: center;
    }
    
    #new h2 {
        font-size: 1.3rem;
    }

    #new h2 span {
        font-size: 1.8rem;
    }
    
    #new .plus {
        right: 10%;
        top: 20%;
    }
    
    #new ul {
        display: inline-block;
        width: 400px;
        border-top: 1px solid black;
    }

    #new .n1 {
        width: 180px;
    }
    
    #new ul li:nth-child(1) {
        margin-top: 2rem;
    }
    
    #new ul li a {
        display: flex;
        margin-bottom: 2rem;
    }
    
    #new li .texts {
        margin-top: 3rem;
        margin-left: 1rem;
        font-size: .8rem;
        text-align: left;
    }
    
    #new li #price1,
    #new li #price2,
    #new li #price3 {
        display: inline-block;
    } 
    
    #new li img {
        border-radius: 200px;
        width: 40%;
        margin-left: 1.5rem;
    }
    
    #new li:hover .fa-basket-shopping  {
        top: 40%;
        left: 24%;
    }
    
    /* find */
    #find {
        height: 600px;
    }
    
    #find h2 {
        font-size: 1.7rem;
    }
    
    #find .f-tag li span {
        display: none;
    }
    
    #find #f-body {
        display: inline-block;
        margin-left: 3.4rem;
        font-size: .9rem;
    }

    #find #f-body img {
        border-radius: 50%;
    }
    
    #find #f-body .f-l ul {
        display: flex;
    }
    
    #find #f-body .f-l li {
        width: 200px;
        height: 250px;
    }
    
    #find #f-body .f-c {
        display: none;
    }
      
    #find li:hover .fa-basket-shopping {
        top: 40%;
        left: 43%;
    }
    
    /* popular */
    
    #popular {
        height: 570px;
        display: inline-block;
    }
    
    #popular ul {
        width: 350px;
        height: 150px;
        margin: 2rem 0;
        margin-left: 5rem;
    }

}

/* 425px---------------------------------------------------------- */
@media all and (max-width: 425px) {
     /* popup */
    .popup-info {
        top: 20%;
        left: 23%;
    }

    /* new */
    #new {
        height: 680px;
    }

    #new .plus {
        top: 23%;
    }

    #new ul {
        width: 340px;
    }

    #new .n1 {
        width: 140px;
        height: 140px;
    }
    
    #new ul li a {
        text-align: left;
        gap: 1rem;
    }
    
    #new ul li img {
        width: 130px;
        height: 130px;
    }
    
    #new li .texts {
        margin-left: .5rem;
    }
    
    #new li:hover .fa-basket-shopping {
        top: 42%;
        left: 26%;
        font-size: 1rem;
    }

    /* find */
    #find #f-body {
        margin-left: .5rem;
        font-size: .8rem;
    }

    #find img {
        border-radius: 50%;
    }
    
    #find li:hover .fa-basket-shopping {
        top: 35%;
        left: 44%;
        font-size: 1.5rem;
    }
    
    /* popular */
    #popular ul {
        margin-left: 2.5rem;
    }

}