/* new */

#new {
    height: 600px;
    position: relative;
}

#new button {
    border: 0;
    background: none;
    font-size: 1.5rem;
    position: absolute;
    top: 26%;
    right: 11%;
}

#new img {
    border-radius: 20px;
}

/* popular */

#popular {
    height: 200px;
}

#popular ul {
    background: bisque;
    border-radius: 30px;
    width: 580px;
    height: 200px;
    position: relative;
}

#popular li {
    padding: 4rem 3rem;
}

#popular p {
    position: absolute;
    right: 4%;
    top: 70%;
}