/* popup */
.body {
    position: relative;
}

.popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    height: 2374px;
    z-index: 999;
}

.popup-info {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 1000px;
    height: 750px;
    background: white;
    text-align: center;
    position: fixed;
    padding: 1rem;
}

.popup-info h2 {
    margin-bottom: 2rem;
}

.popup-info p {
    margin-bottom: 1.5rem;
}

.popup img {
    width: 90%;
}

.popup img:hover {
    opacity: 30%;
}

.popup li {
    position: relative;
}

.popup .see {
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
}

.popup li:hover .see {
    display: block;
    font-size: 3rem;
}

.p-close {
    position: absolute;
    top: 2%;
    right: 2%;
    border: 0;
    background: black;
    color: white;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
}

.p-close-tod {
    position: absolute;
    top: 2%;
    left: 2%;
    border: 0;
    background: black;
    color: white;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
}

.p-close-tod:hover,
.p-close:hover {
    font-size: 1.1rem;
}

/* new */

#new {
    height: 600px;
    position: relative;
}

#new li {
    position: relative;
}

#new li:hover img {
    opacity: 30%;
}

#new h4 {
    display: none;
    position: absolute;
    right: 40%;
    top: 35%;
    font-size: 3rem;
}

#new li:hover h4 {
    display: flex;
}

#new button {
    border: 0;
    background: none;
    font-size: 1.5rem;
    position: absolute;
    top: 26%;
    right: 11%;
}

#new button:hover i {
    color: rgb(45, 86, 199);
    border-top: 1px solid black;
}

#new img {
    border-radius: 20px;
}

#new .cost {
    text-decoration: line-through;
    padding: 0;
}


/* find */
#find h2 {
    margin: 2rem 4rem;
}

#find h2:hover i {
    padding-left: 4rem;
}

#find h2 i {
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

#find .f-tag {
    margin: 2rem 4rem;
}

#find .f-tag li {
    font-weight: 800;
}

#f-body li {
    width: 270px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

#f-body .f-c {
    position: relative;
}

#f-body img {
    margin-top: 1rem;
    border-radius: 20px;
}

#f-body li h4 {
    display: none;
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 3rem;
}

#f-body .f-c h4 {
    display: none;
    position: absolute;
    top: 40%;
    left: 42%;
    font-size: 5rem;
}

#f-body li:hover img {
    opacity: 30%;
}

#f-body li:hover h4 {
    display: block;
}

#f-body .f-c:hover h4 {
    display: block;
}

.f-c {
    margin: 0 5px;
    border-radius: 20px;
    text-align: center;
}

.f-c:hover img {
    opacity: 30%;
}

#find .cost {
    text-decoration: line-through;
    padding: 0;
}

.f-l  p {
    text-align: left;
    padding-left: 1rem;
}

#f-body li:nth-child(1) {
    margin-bottom: 20px
}

.f-r {
    background: rgb(45, 86, 199);
    border-radius: 20px;
    width: 730px;
    height: 500px;
}


/* popular */

#popular {
    margin-top: 3rem;
    height: 200px;
}

#popular ul {
    border-radius: 10px;
    width: 560px;
    height: 150px;
    position: relative;
    border: 1px solid black;
}

#popular ul:hover p {
    right: 4%;
}

.popl {
    background: url("../images/p-bg1.png") no-repeat center;
}
.popr {
    background: url("../images/p-bg2.png") no-repeat center;
}

#popular li {
    padding: 3rem 3rem;
}

#popular p {
    position: absolute;
    right: 8%;
    top: 70%;
}

/*---media query-------*/
/* 500px---------------------------------------------------------- */
@media all and (max-width: 500px) {
    /* popup */
    .popup-info {
        width: 50%;
        height: 40%;
        top: 20%;
        left: 25%;
    }

    .popup-info h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .popup-info p {
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .popup-info .p-close {
        font-size: .6rem;
    }
    
    
    /* new */
    #new {
        height: 750px;
        text-align: center;
    }
    
    #new h2 {
        font-size: 1.3rem;
    }
    #new h2 span {
        font-size: 1.8rem;
    }
    
    #new button {
        right: 10%;
        top: 21%;
    }
    
    #new ul {
        display: inline-block;
        width: 400px;
        border-top: 1px solid black;
    }
    
    #new ul li:nth-child(1) {
        margin-top: 2rem;
    }
    
    #new ul li a {
        text-align: left;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    #new li .texts {
        font-size: .9rem;
        margin: 3rem 0;
        width: 200px;
    }
    
    #new li img {
        border-radius: 200px;
        width: 40%;
    }
    
    #new li:hover h4 {
        top: 44%;
        left: 11%;
    }
    
    /* find */
    #find {
        height: 600px;
    }
    
    #find h2 {
        font-size: 1.7rem;
    }
    
    #find .f-tag li span {
        display: none;
    }
    
    #find #f-body {
        display: inline-block;
        margin-left: 3.4rem;
    }
    
    #find #f-body .f-l ul {
        display: flex;
    }
    
    #find #f-body .f-l li {
        width: 200px;
        height: 250px;
    }
    
    #find #f-body .f-c {
        display: none;
    }
    
    /* popular */
    
    #popular {
        height: 350px;
        display: inline-block;
    }
    
    #popular ul {
        width: 390px;
        height: 150px;
        margin: 1rem 0;
        margin-left: 4rem;
    }

}

/* 425px---------------------------------------------------------- */
@media all and (max-width: 425px) {
     /* popup */
    .popup-info {
        width: 50%;
        height: 36%;
        top: 20%;
        left: 23%;
    }

    .popup-info h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .popup-info p {
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .popup-info .p-close {
        font-size: .6rem;
    }
    
    /* new */
    #new {
        height: 750px;
        text-align: center;
    }
    
    #new h2 {
        font-size: 1.3rem;
    }
    #new h2 span {
        font-size: 1.8rem;
    }
    
    #new button {
        right: 9%;
        top: 21%;
    }
    
    #new ul {
        display: inline-block;
        width: 350px;
        border-top: 1px solid black;
    }
    
    #new ul li:nth-child(1) {
        margin-top: 2rem;
    }
    
    #new ul li a {
        text-align: left;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    #new li .texts {
        font-size: .9rem;
        margin: 3rem 0;
        width: 200px;
    }
    
    #new li img {
        border-radius: 200px;
        width: 40%;
    }
    
    #new li:hover h4 {
        top: 44%;
        left: 11%;
    }
    
    /* find */
    #find {
        height: 600px;
    }

    #find h2 {
        font-size: 1.7rem;
    }
    
    #find .f-tag li span {
        display: none;
    }
    
    #find #f-body {
        display: inline-block;
        margin-left: .8rem;
    }
    
    #find #f-body .f-l ul {
        display: flex;
    }
    
    #find #f-body .f-l li {
        width: 200px;
        height: 250px;
    }
    
    #find #f-body .f-c {
        display: none;
    }
    
    /* popular */
    
    #popular {
        height: 350px;
        display: inline-block;
    }
    
    #popular ul {
        width: 380px;
        height: 150px;
        margin: 1rem 0;
        margin-left: 1.5rem;
    }

}