/* best */

#best {
    height: 600px;
    position: relative;
}

#best li {
    position: relative;
}

#best li img {
    border-radius: 20px;
    width: 323px;
}

#best .cost {
    text-decoration: line-through;
    padding: 0;
}

#best li:hover img {
    opacity: 30%;
}

#best h4 {
    display: none;
    position: absolute;
    right: 30%;
    top: 39%;
}

#best li:hover h4 {
    display: block;
}


/* category */

#c-tab {
   
    height: 800px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.c-title {
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.c-title h2 {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.c-title i {
    position: absolute;
    top: 21%;
    right: 3%;
}

.c-title li  {
    line-height: 40px;
    height: 40px;
    width: 200px;
    margin: 1rem 0;
    border: 0;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

.c-title li:hover {
    background: rgb(160, 186, 255);
    color: white;
}

.c-body1,
.c-body2,
.c-body3,
.c-body4,
.c-body5,
.c-body6,
.c-body7 {
    width: 840px;
    height: 840px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.c-body1 li,
.c-body2 li,
.c-body3 li,
.c-body4 li,
.c-body5 li,
.c-body6 li,
.c-body7 li {
    width: 220px;
    height: 260px;
    position: relative;
    margin: .5rem 0;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 20px;
}

.c-body1 li:hover,
.c-body2 li:hover,
.c-body3 li:hover,
.c-body4 li:hover,
.c-body5 li:hover,
.c-body6 li:hover,
.c-body7 li:hover {
    background: rgb(160, 186, 255);
    color: white;
}

.c-body1 li img,
.c-body2 li img,
.c-body3 li img,
.c-body4 li img,
.c-body5 li img,
.c-body6 li img,
.c-body7 li img {
    border-radius: 20px;
    padding: 5px 0;
}

.c-body1 li p,
.c-body2 li p,
.c-body3 li p,
.c-body4 li p,
.c-body5 li p,
.c-body6 li p,
.c-body7 li p {
    text-align: left;
    padding: 0 15px;
}

.c-body1 button,
.c-body2 button,
.c-body3 button,
.c-body4 button,
.c-body5 button,
.c-body6 button,
.c-body7 button {
    position: absolute;
    bottom: 3%;
    right: 3%;
    border: 0;
    border-radius: 30px;
    background: white;
    border: 1px solid black;
    padding: .5rem;
}

.c-body1 button:hover,
.c-body2 button:hover,
.c-body3 button:hover,
.c-body4 button:hover,
.c-body5 button:hover,
.c-body6 button:hover,
.c-body7 button:hover {
    background: rgb(160, 186, 255);
    color: white;
    border: 1px solid black;
    padding: 0.5rem;
}

/*---media query-------*/
@media all and (max-width: 500px) {
    
    .bg {
        display: none;
    }

    /* best */
    #best {
        height: 900px;
        text-align: center;
        margin: 0 auto;
    }
    
    #best h2 {
        font-size: 1.3rem;
    }
    #best h2 span {
        font-size: 1.8rem;
    }
    
    #best ul {
        display: inline-block;
        width: 400px;
        margin: 0 auto;
        border-top: 1px solid black;
    }
    
    #best ul li:nth-child(1) {
        margin-top: 2rem;
    }
    
    #best ul li a {
        text-align: left;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    #best li .texts {
        font-size: .9rem;
        margin: 3rem 0;
        width: 200px;
    }
    
    #best li img {
        border-radius: 200px;
        width: 40%;
    }
    
    #best li:hover h4 {
        top: 44%;
        left: 11%;
    }

    .line {
        display: none;
    }

    /* category */
    #c-tab {
        display: inline-block;
        height: 1000px;
        margin: 0 auto;
        padding: 0;
    }

    #c-tab .c-title {
        height: 280px;
        margin: 0;
        padding: 0;
    }

    #c-tab .c-title h2 {
       display: none;
    }

    #c-tab .c-title .f-h2 {
        display: block;
        width: 500px;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 2rem;
        padding: 1.5rem 0;
    }

    #c-tab .c-title i {
        display: none;
    }

    #c-tab .c-title ul {
        width: 450px;
        padding-left: 2rem;
    }
    
    #c-tab .c-title li {
        float: left;
        margin-right: 5px;
        font-size: .8rem;
        width: 100px;
    }

    #c-tab .c-title li:nth-child(4) {
        width: 120px;
    }

    #c-tab .c-title li:nth-child(5) {
        margin-left: 4rem;
    }

    /* c-body */
    #c-tab .c-body1 {
        display: inline;
        height: 1100px;
        margin: 0;
    }
    
    #c-tab .c-body1 ul,
    #c-tab .c-body2 ul,
    #c-tab .c-body3 ul,
    #c-tab .c-body4 ul,
    #c-tab .c-body5 ul,
    #c-tab .c-body6 ul,
    #c-tab .c-body7 ul {
        padding-left: 3rem;
    }

    
    #c-tab .c-body1 li,
    #c-tab .c-body2 li,
    #c-tab .c-body3 li,
    #c-tab .c-body4 li,
    #c-tab .c-body5 li,
    #c-tab .c-body6 li,
    #c-tab .c-body7 li {
        width: 100px;
        height: 170px;
        border: 0;
        font-weight: bold;
    }

      
    #c-tab .c-body1 li:hover,
    #c-tab .c-body2 li:hover,
    #c-tab .c-body3 li:hover,
    #c-tab .c-body4 li:hover,
    #c-tab .c-body5 li:hover,
    #c-tab .c-body6 li:hover,
    #c-tab .c-body7 li:hover {
        background: none;
        color: black;
    }

    #c-tab .c-body1 li:hover img,
    #c-tab .c-body2 li:hover img,
    #c-tab .c-body3 li:hover img,
    #c-tab .c-body4 li:hover img,
    #c-tab .c-body5 li:hover img,
    #c-tab .c-body6 li:hover img,
    #c-tab .c-body7 li:hover img {
        opacity: 30%;
    }
    
    #c-tab .c-body1 img,
    #c-tab .c-body2 img,
    #c-tab .c-body3 img,
    #c-tab .c-body4 img,
    #c-tab .c-body5 img,
    #c-tab .c-body6 img,
    #c-tab .c-body7 img {
        width: 100px;
        border-radius: 200px;
        position: relative;
    }

    #c-tab .c-body1 li:hover button,
    #c-tab .c-body2 li:hover button,
    #c-tab .c-body3 li:hover button,
    #c-tab .c-body4 li:hover button,
    #c-tab .c-body5 li:hover button,
    #c-tab .c-body6 li:hover button,
    #c-tab .c-body7 li:hover button {
        display: block;
    }
    
    #c-tab .c-body1 li p,
    #c-tab .c-body2 li p,
    #c-tab .c-body3 li p,
    #c-tab .c-body4 li p,
    #c-tab .c-body5 li p,
    #c-tab .c-body6 li p,
    #c-tab .c-body7 li p  {
        font-size: .8rem;
    }

    #c-tab .c-body1 button,
    #c-tab .c-body2 button,
    #c-tab .c-body3 button,
    #c-tab .c-body4 button,
    #c-tab .c-body5 button,
    #c-tab .c-body6 button,
    #c-tab .c-body7 button  {
        display: none;
        border: 1px solid black;
        border-radius: 0;
        background: none;
        color: black;
        font-weight: bold;
        position: absolute;
        top: 20%;
        left: 25%;
        width: 50px;
        height: 50px;
    }

    #c-tab .c-body1 button:hover,
    #c-tab .c-body2 button:hover,
    #c-tab .c-body3 button:hover,
    #c-tab .c-body4 button:hover,
    #c-tab .c-body5 button:hover,
    #c-tab .c-body6 button:hover,
    #c-tab .c-body7 button:hover {
        font-size: 1rem;
    } 
}