/* best */

#best {
    height: 600px;
    position: relative;
}

.best_wrap i {
    line-height: 300px;
}

#best button {
    border: 0;
    background: none;
    font-size: 1.5rem;
    position: absolute;
    top: 25%;
    right: 5%;
}

#best img {
    border-radius: 20px;
}

/* category */

#c-tab {
    height: 800px;
}

.c-title {
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.c-title h2 {
    padding-bottom: 5rem;
}

.c-title i {
    position: absolute;
    top: 7%;
    right: 8%;
}

.c-title li a {
    line-height: 80px;
    border: 0;
    border-radius: 30px;
    padding: .5rem;
    background: black;
    color: white;
    text-align: center;
}


.c-body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.c-body li {
    width: 220px;
    height: 260px;
    position: relative;
    margin: .5rem 0;
    font-size: 1rem;
    background: white;
    border-radius: 20px;
}

.c-body li img {
    border-radius: 20px;
    padding: 5px 0;
}

.c-body li p {
    text-align: left;
    padding: 0 15px;
}

.c-body button {
    position: absolute;
    bottom: 3%;
    right: 3%;
    border: 0;
    border-radius: 30px;
    background: black;
    color: white;
    padding: .5rem;
}